In [55]:
import pandas as pd #pandas library
%matplotlib inline 
import matplotlib.pyplot as plt #import matplotlib same as from maplotlib import pyplot as plt

In [56]:
#Load our external file
data = pd.read_excel('nigeria_gdp.xlsx',skiprows=7)

In [57]:
data.head()
#From the below dataset we need to drop irrelevant columns

,Unnamed: 0,GDP growth (annual %),GDP per capita growth (annual %),GDP (constant LCU),GDP per capita (constant LCU),GDP (current LCU),GDP (current US$),GDP per capita (current US$),"GDP, PPP (current international $)"
0,Units,%,%,constant LCU,constant LCU,current LCU,current US$,current US$,current international $
1,1960,NaN,NaN,8819015424300,195380,2997268700,4.19609e+09,92.9618,NaN
2,1961,0.191795,-1.82038,8835929898100,191823,3190921200,4.4672e+09,96.9804,NaN
3,1962,4.10299,1.96415,9198467447000,195591,3506715100,4.9093e+09,104.389,NaN
4,1963,8.57862,6.31106,9987568915800,207935,3689708800,5.16549e+09,107.542,NaN

In [58]:
data.drop(columns = ['GDP (constant LCU)','GDP (current LCU)','GDP per capita (constant LCU)','GDP (current LCU)','GDP (current US$)','GDP, PPP (current international $)'], inplace = True)

In [59]:
data.head()

,Unnamed: 0,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
0,Units,%,%,current US$
1,1960,NaN,NaN,92.9618
2,1961,0.191795,-1.82038,96.9804
3,1962,4.10299,1.96415,104.389
4,1963,8.57862,6.31106,107.542

In [60]:
data.drop(0,axis = 0, inplace = True)  #drop row 0 since it contains column names

In [61]:
data.head()

,Unnamed: 0,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
1,1960,NaN,NaN,92.9618
2,1961,0.191795,-1.82038,96.9804
3,1962,4.10299,1.96415,104.389
4,1963,8.57862,6.31106,107.542
5,1964,4.95049,2.7392,113.17

In [62]:
#rename the Unamed colum to Year
data = data.rename(columns= {'Unnamed: 0':'Years'})

In [63]:
data.head()

,Years,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
1,1960,NaN,NaN,92.9618
2,1961,0.191795,-1.82038,96.9804
3,1962,4.10299,1.96415,104.389
4,1963,8.57862,6.31106,107.542
5,1964,4.95049,2.7392,113.17

In [64]:
#what does our current data contain
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 1 to 57
Data columns (total 4 columns):
Years                               57 non-null object
GDP growth (annual %)               56 non-null object
GDP per capita growth (annual %)    56 non-null object
GDP per capita (current US$)        57 non-null object
dtypes: object(4)
memory usage: 2.2+ KB

In [65]:
data.isnull() #show the boolean value of NAN

,Years,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
1,False,True,True,False
2,False,False,False,False
3,False,False,False,False
4,False,False,False,False
5,False,False,False,False
6,False,False,False,False
7,False,False,False,False
8,False,False,False,False
9,False,False,False,False
10,False,False,False,False
11,False,False,False,False
12,False,False,False,False
13,False,False,False,False
14,False,False,False,False
15,False,False,False,False
16,False,False,False,False
17,False,False,False,False
18,False,False,False,False
19,False,False,False,False
20,False,False,False,False
21,False,False,False,False
22,False,False,False,False
23,False,False,False,False
24,False,False,False,False
25,False,False,False,False
26,False,False,False,False
27,False,False,False,False
28,False,False,False,False
29,False,False,False,False
30,False,False,False,False
31,False,False,False,False
32,False,False,False,False
33,False,False,False,False
34,False,False,False,False
35,False,False,False,False
36,False,False,False,False
37,False,False,False,False
38,False,False,False,False
39,False,False,False,False
40,False,False,False,False
41,False,False,False,False
42,False,False,False,False
43,False,False,False,False
44,False,False,False,False
45,False,False,False,False
46,False,False,False,False
47,False,False,False,False
48,False,False,False,False
49,False,False,False,False
50,False,False,False,False
51,False,False,False,False
52,False,False,False,False
53,False,False,False,False
54,False,False,False,False
55,False,False,False,False
56,False,False,False,False
57,False,False,False,False

In [66]:
#lets fill all NAN from "GDP growth (annual %)","GDP per capita growth (annual %)" to zero
data.fillna(value = 0, inplace=True)

In [67]:
data.head()

,Years,GDP growth (annual %),GDP per capita growth (annual %),GDP per capita (current US$)
1,1960,0.000000,0.000000,92.961800
2,1961,0.191795,-1.820382,96.980430
3,1962,4.102993,1.964149,104.388533
4,1963,8.578619,6.311062,107.542108
5,1964,4.950489,2.739201,113.170338

In [68]:
data.dtypes

Years                                object
GDP growth (annual %)               float64
GDP per capita growth (annual %)    float64
GDP per capita (current US$)        float64
dtype: object